.button {
  border-radius: 100%;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28pt;
  
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  white-space: normal;
  width: 150px;
  height:150px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin-left: -10%;
  margin-right: -10%;
  
}

.button span {
  cursor: pointer;
  position: absolute;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}