/* About
/*-----------------------*/
.about {
	margin-bottom: 30px;
}

.about p {
	color: #3a3a3a;
	font-size: 18px;
	line-height: 22px;
}

.about span {
	font-weight: 600;
}

.bio {
	width: 80%;
	text-align: justify;
}

/* Work
/*-----------------------*/
.work {
	margin-bottom: 30px;
}

.work a {
	color: #3a3a3a;
}

.work a:hover {
	color: #34A9FF;
}

.work span {
	font-style: italic;
	font-size: 18px;
	padding-left: 15px;
}