/* Social (header)
/*-----------------------*/
.social {
    margin: 10px 0 30px 0;
}

.social li {
	display: inline;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 0px;
}

.social li a {
	color: #3a3a3a;
}

.social li a:hover {
	color: #34A9FF;
}

.social span {
	padding: 0 20px;
}


/* About
/*-----------------------*/
.about {
	margin-bottom: 30px;
}

.about p {
	color: #3a3a3a;
	font-size: 18px;
	line-height: 22px;
}

.about span {
	font-weight: 600;
}

.bio {
	width: 80%;
	text-align: justify;
}

/* Work
/*-----------------------*/
.work {
	margin-bottom: 30px;
}

.work a {
	color: #3a3a3a;
}

.work a:hover {
	color: #34A9FF;
}

.work span {
	font-style: italic;
	font-size: 18px;
	padding-left: 15px;
}

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) , (max-height: 640px) and (orientation:landscape) {
	.bio {
		width: 100%;
	}
	
	.social span {
		padding: 0 16px;
	}
}