/* Theme override
/*-----------------------*/
a {
	color: #3a3a3a;
	text-decoration: underline;
}

/* About
/*-----------------------*/
.about {
	margin-bottom: 30px;
}

.about p {
	color: #3a3a3a;
	font-size: 18px;
	line-height: 22px;
}

.about span {
	font-weight: 600;
}

.bio {
	width: 80%;
	text-align: justify;
}

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) {
	.avatar {
		width: 66px;
	}

	h1 {
		font-size: 25px;
	}

	h1 span {
		display: block;
	}

	.bio {
		width: 100%;
	}
}

@media (max-width: 640px) and (orientation:landscape) {
	.info {
		padding-top: 50px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 90%;
	}

	.info {
		padding-top: 50px;
	}

}