body, html {
    height: 100%;
}

.navbar-default {
    padding: 20px 40px 15px 15px;
    
    text-align: center;
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}  

.navbar .nav-item {
    font-family: 'Ubuntu Condensed', "Montserrat", sans-serif;
    font-size: 16pt;
    font-weight: 400;
    margin-left: 35px;
    margin-right: 35px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-icon {
    background: url(/assets/img/icon-shadowedlock.png) center / contain no-repeat;
    /*
    width: 200px;
    height: 75px;
    */
    width: 7vw;
    height: 7vh;
}

.navbar .navbar-collapse {
  text-align: center;
}

.masthead {
    background: url(/assets/img/background-rainingcode.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-text {
    /*padding-top: 390px;*/
    padding-top: 37vh;
    color: white;
}

.landing-text .landing-main {
    font-size: 80pt;
}

.landing-text .landing-sub {
    /*padding-top: 250px;*/
    padding-top: 28vh;
    font-size: 20pt;
}

.landing-text span {
    display: inline-block;
    padding: 0.2em 0.5em;
    /*border: white solid;
    border-width: 1vw;*/
}