@font-face {
    font-family: BaronNeue60;
    src: url("BaronNeue60.otf") format("opentype");
}

body {background-color:black;}

h1
{
    color:#12c8ee;
    text-align:center;
    margin:0px 0px;
}

h2
{
    font-family: BaronNeue60;
    font-size: 60px;
    color:#12c8ee;
    margin:0px 0px;
    text-align:center;
}

.ascii_table
{
    font-family: monospace;
    font-size: 18px;
    white-space: pre;
    color:#12c8ee;
    
}

.footer
{
    font-family: monospace;
    font-size: 12px;
    color:#12c8ee;
}